name: CI/CD

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*.*.*"

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image tag
        id: vars
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            TAG="${GITHUB_REF#refs/tags/}"
          else
            TAG="latest"
          fi
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/diploma-app:${{ steps.vars.outputs.tag }}

      - name: Setup kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_B64 }}" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Deploy to Kubernetes
        run: |
          kubectl get ns app || kubectl create ns app

          cat <<EOF | kubectl apply -f -
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: diploma-app
            namespace: app
          spec:
            replicas: 2
            selector:
              matchLabels:
                app: diploma-app
            template:
              metadata:
                labels:
                  app: diploma-app
              spec:
                containers:
                  - name: nginx
                    image: ${{ secrets.DOCKERHUB_USERNAME }}/diploma-app:${{ steps.vars.outputs.tag }}
                    ports:
                      - containerPort: 80
          ---
          apiVersion: v1
          kind: Service
          metadata:
            name: diploma-app-svc
            namespace: app
          spec:
            type: LoadBalancer
            selector:
              app: diploma-app
            ports:
              - name: http
                port: 80
                targetPort: 80
          EOF

          kubectl -n app rollout status deploy/diploma-app --timeout=180s
          kubectl -n app get svc diploma-app-svc -o wide
